<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/manager/layout}">
<head>
    <title layout:fragment="title">Lịch tạo hóa đơn tiền phòng</title>
</head>
<body>
<div layout:fragment="content" class="mt-4">
    <h1 class="mb-4 text-2xl font-bold">Lịch tạo hóa đơn tiền phòng</h1>
    <a th:href="@{/billing-schedule/new}" class="inline-block bg-green-500 text-white px-4 py-2 rounded mb-3 hover:bg-green-600">Add New Schedule</a>
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-700 text-white">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Schedule ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Schedule Time</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Active</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <tr th:each="schedule : ${schedules}">
            <td class="px-6 py-4 whitespace-nowrap" th:text="${schedule.scheduleId}"></td>
            <td class="px-6 py-4 whitespace-nowrap" th:text="${schedule.scheduleTime}"></td>
            <td class="px-6 py-4 whitespace-nowrap">
                 <span th:if="${schedule.active}">
                    🕒 Pending
                    </span>
                <span th:unless="${schedule.active}">
                    ✅ Completed
                </span>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>