<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/student/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title" >Đăng ký ở KTX</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-center">Đăng ký ở KTX</h1>

    <!-- Sử dụng th:object = "${student}" => map với DormApplicationForm -->
    <form th:action="@{/register-dormitory}" th:object="${student}" method="post">
        <div class="mb-3">
            <label for="fullName" class="form-label">Họ và Tên</label>
            <input type="text" class="form-control" id="fullName" th:field="*{fullName}" readonly>
        </div>
        <div class="mb-3">
            <label for="department" class="form-label">Khoa</label>
            <input type="text" class="form-control" id="department" th:field="*{department}" readonly>
        </div>
        <div class="mb-3">
            <label for="class" class="form-label">Lớp</label>
            <input type="text" class="form-control" id="class" th:field="*{studentClass}" readonly>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" readonly>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" readonly>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <textarea class="form-control" id="address" th:field="*{address}" readonly></textarea>
        </div>
        <div class="mb-3">
            <label for="dormitoryArea" class="form-label">Khu ký túc xá mong muốn</label>
            <select class="form-select" id="dormitoryArea" th:field="*{dormitoryArea}">
                <option value="Khu A">Khu A</option>
                <option value="Khu B">Khu B</option>
                <option value="Khu C - Hòa An">Khu C - Hòa An</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Ghi chú</label>
            <textarea class="form-control" id="note" th:field="*{note}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gửi Đơn Đăng Ký</button>
    </form>
</div>
</body>
</html>
