<div id="billListContainer" th:fragment="billListFragment">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mã sinh viên</th>
            <th>Ngày phát hành</th>
            <th>Ngày đến hạn</th>
            <th>Trạng thái</th>
            <th>Loại hóa đơn</th>
            <th>Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bill : ${bills.content}">
            <td th:text="${bill.billId}"></td>
            <td th:text="${bill.student.studentId}"></td>
            <td th:text="${bill.issueDate}"></td>
            <td th:text="${bill.dueDate}"></td>
            <td>
                <select class="bill-status" th:data-bill-id="${bill.billId}">
                    <option value="unpaid" th:selected="${bill.status.name() == 'unpaid'}">unpaid</option>
                    <option value="paid" th:selected="${bill.status.name() == 'paid'}">paid</option>
                    <option value="overdue" th:selected="${bill.status.name() == 'overdue'}">overdue</option>
                </select>
            </td>
            <td th:text="${bill.billType}"></td>
            <td th:text="${bill.totalAmount}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <span th:text="'Trang ' + ${bills.number + 1} + ' trên ' + ${bills.totalPages}"></span>
    </div>
</div>
